* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#topnnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2%;
}
#top-links {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
#top-links a {
  text-decoration: none;
  color: #000;
}
nav {
  background-color: aquamarine;
  padding: 1.1%;
}
#nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 30%;
}
#nav-links a {
  cursor: pointer;
}
#body {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  height: 65vh;
  display: grid;
  grid-template-columns: 70% 30%;
}
#sidelinks {
  height: 40%;
  padding: 1.2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#sidelinks h4 {
  background-color: aquamarine;
  padding: 1.2%;
}
#content {
  overflow: scroll;
}
#content::-webkit-scrollbar {
  display: none;
}
.pagename {
  line-height: 2;
  font-size: 1.2em;
  font-weight: 300;
}
.about {
  font-weight: 200;
  line-height: 1.1;
}
.email {
  color: red;
  line-height: 3;
}

footer {
  background-color: aquamarine;
  padding: 2%;
  text-align: center;
}

#academic-content h3 {
  text-decoration: underline;
  line-height: 3;
}
img {
  width: 300px;
  height: 300px;
}
#img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  gap: 2%;
}
td {
  padding: 1%;
}
